<h3>Vendor Sheet Management</h3>
<h4>Welcome {{loggedUsedData.Candidate[0].demographic.name.firstName}}</h4>

<div class="jumbotron">
  <h5><u><b>Your details:</b></u></h5>
    <h5><b>Email:</b> {{loggedUsedData.Candidate[0].EmailID}}</h5>
    <h5><b>First Name:</b> {{loggedUsedData.Candidate[0].demographic.name.firstName}}</h5>
    <h5><b>Last Name:</b> {{loggedUsedData.Candidate[0].demographic.name.lastName}}</h5>
    <h5><b>DOB:</b> {{loggedUsedData.Candidate[0].demographic.dateOfBirth}}</h5>
</div>

